<a href="https://colab.research.google.com/github/luislemuspaz/Ciencia-de-Datos-en-Python/blob/master/Introducci%C3%B3n_a_Google_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción a Google Colab**

Se pueden hacer listados:

* Item 1
* Item 2
* Item 3
* Item 4

$$
\int_0^\infty x^2dx
$$

In [ ]:
import pandas as pd

In [ ]:
url = ("https://raw.githubusercontent.com/luislemuspaz/Ciencia-de-Datos-en-Python/master/marketing_data.csv")
df = pd.read_csv(url)
df.head()

      ID  Year_Birth   Education  ... Response Complain  Country
0   1826        1970  Graduation  ...        1        0       SP
1      1        1961  Graduation  ...        1        0       CA
2  10476        1958  Graduation  ...        0        0       US
3   1386        1967  Graduation  ...        0        0      AUS
4   5371        1989  Graduation  ...        1        0       SP

[5 rows x 28 columns]